@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

* {
  margin:0;
  padding: 0;
  position: relative;
}
body {
  margin: 0 auto;
  max-width: 50em;
  width: 90%;
  height: 100vh;
  font-family: 'Muli', sans-serif;
  background: chocolate;
  position: relative;
  color: white;
}

body::before {
  width: 100%;
  height: 90%;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../../assets/img/rob_swanson.png) no-repeat right bottom;
  background-size: contain; 
  z-index:0;
}

section {
  width: 94%;
  background: rgba(255,255,255,0.5);
  padding: 1em;
  margin-top: 1em;
}

h1 {
  color: white;
  margin-bottom: .5em;
}

blockquote {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: saddlebrown;
}

blockquote::before,
blockquote::after {
  display: inline;
  font-weight: 700;
  color: chocolate;
  line-height: 1.3;
}

blockquote::before {
  content: "\201C";
  padding-right: 3px;
}

blockquote::after {
  content: "\201D";
  padding-left: 3px;
}


@media (min-width: 600px) {
  section {
    width: 60%;
    margin-top: 5em;
  }
}

button {
  color: white;
  letter-spacing: .75px;
  text-transform: uppercase;
  border: none;
  background: dodgerblue;
  padding: .85rem;
  margin: 1rem 0;
  cursor: pointer;
}
button:hover,
button:focus {
  background: royalblue;
}